//breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 569px,
        md: 768px,
        lg: 1024px,
) !default;


$spacers:(
        0: 0,
        1: 8/16 *1rem,
        2: 10/16 *1rem,
        3: 16/16 *1rem,
        4: 20/16 *1rem,
        5: 25/16 *1rem,
        6: 30/16 *1rem,
        7:40/16 *1rem,
        8:50/16 *1rem,
        9:60/16 *1rem,
        10:70/16 *1rem,
        11:80/16 *1rem,
        12:104/16 *1rem,
        13:112/16 *1rem
);

//color
$primary: #8DA291;
$primaryDark: #3F5D45;
$primaryLight: #EAF0ED;
$accent: #FFE180;
$white: #FFF;

//mixin
@function px2Rem($size) {
  @return $size/16*1rem;
}

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}