.cart {
  &__title {
    height: px2Rem(65);
    font-size: px2Rem(24);
    font-weight: $font-weight-semibold;
    background: $primaryLight;
  }
  &__productList {
    &__item {
      border-bottom: 1px solid $primaryLight;
      .cart__productList__img {
        height: px2Rem(110);
        background-position: center center;
        background-size: cover;
      }

      .info {
        &__detail {
          width: px2Rem(107);
          h3 {
            font-size: px2Rem(20);
            font-weight: $font-weight-light;
          }
        }

        &__calPanel {
          a, span {
            width: px2Rem(48);
            height: px2Rem(48);
            border-left: 1px solid $primaryLight;
            border-top: 1px solid $primaryLight;
            border-bottom: 1px solid $primaryLight;
          }
          a:hover, a:active, a:focus {
            background: darken($white, 7.5%);
          }
          a:last-child {
            border-right: 1px solid $primaryLight;
          }
        }
      }

      .cart__productList__price {
        div {
          width: 100%;
          height: px2Rem(8.5);
          border-bottom: 1px solid $primaryLight;
        }
        span {
          padding-top: px2Rem(8.5);
          padding-bottom: px2Rem(8.5);
          font-size: px2Rem(20);
          font-weight: $font-weight-semibold;
        }
      }
    }
  }

  &__summary {
    background: $white;
    @media (min-width: map_get($grid-breakpoints, sm)) {
      background: $primaryDark;
    }

    &__title {
      background: $primaryLight;
      font-size: px2Rem(24);
      font-weight: $font-weight-semibold;

      @media (min-width: map_get($grid-breakpoints, sm)) {
        background: $primaryDark;
        border-bottom: 1px solid $primaryLight;
        color: $primaryLight;
      }
    }

    &__totalDetailList {
      &__item {
        span {
          font-size: 1rem;
          font-weight: $font-weight-light;
          color: $primaryDark;
          @media (min-width: map_get($grid-breakpoints, sm)) {
            color: $primaryLight;
          }
        }

        &:first-child {
          margin-bottom: px2Rem(8);
        }

        &:nth-child(2) {
          margin-bottom: 1rem;
        }

        &:last-child {
          span {
            font-size: px2Rem(20);
            font-weight: $font-weight-semibold;
          }
        }
      }
    }
  }
}