.header {
  &__brand {
    a {
      display: block;
      width: 114px;
      height: 5rem;
      background: url("../images/logotype-sm-dark.svg") no-repeat 50% 50%;

      @media (min-width: map_get($grid-breakpoints, md)) {
        width: 219px;
        height: 100px;
        background: url("../images/logo-all-dark.svg") no-repeat 50% 50%;
      }
    }
  }

  &__navList a, &__cart, &__bars {
    display: block;
    line-height: 5rem;
    padding: 0 2rem;
    font-weight: $font-weight-semibold;
    text-align: center;
    transition: 0.3s all;

    @media (min-width: map_get($grid-breakpoints, md)) {
      padding: 0 3rem;
    }

    &:hover, &:active {
      background: $primaryDark;
      color: $white;
    }
  }
}
